<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>Python Lunch @ MPIA</title>

    <link href="http://fonts.googleapis.com/css?family=Alegreya:400italic,700italic,400,700|Alegreya+SC:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/screen.css">

    <style>

        a {
            text-decoration: none;
        }

    </style>

</head>

<body>

    <section class="content">

        {{ content }}
        
        <div>
            <script src="//speakerdeck.com/embed/500917c078b8ae0002111e92.js?size=preview"></script>
        </div>

    </section>

</body>

</html>
